// Text Regular
@font-face{
  font-family: 'VerizonNHGeTX-Regular';
  src: url('/fonts/VerizonNHGeTX-Regular.eot?#iefix');
  src: url('/fonts/VerizonNHGeTX-Regular.eot?#iefix') format('eot'),
    url('/fonts/VerizonNHGeTX-Regular.woff2') format('woff2'),
    url('/fonts/VerizonNHGeTX-Regular.woff') format('woff');
}

// Text Bold
@font-face{
  font-family: 'VerizonNHGeTX-Bold';
  src: url('/fonts/VerizonNHGeTX-Bold.eot?#iefix');
  src: url('/fonts/VerizonNHGeTX-Bold.eot?#iefix') format('eot'),
    url('/fonts/VerizonNHGeTX-Bold.woff2') format('woff2'),
    url('/fonts/VerizonNHGeTX-Bold.woff') format('woff');
}

// Display
// ------------------------------------------

// Display Regular
@font-face{
  font-family: 'VerizonNHGeDS-Regular';
  src: url('/fonts/VerizonNHGeDS-Regular.eot?#iefix');
  src: url('/fonts/VerizonNHGeDS-Regular.eot?#iefix') format('eot'),
    url('/fonts/VerizonNHGeDS-Regular.woff2') format('woff2'),
    url('/fonts/VerizonNHGeDS-Regular.woff') format('woff');
}

// Display Bold
@font-face{
  font-family: 'VerizonNHGeDS-Bold';
  src: url('/fonts/VerizonNHGeDS-Bold.eot?#iefix');
  src: url('/fonts/VerizonNHGeDS-Bold.eot?#iefix') format('eot'),
    url('/fonts/VerizonNHGeDS-Bold.woff2') format('woff2'),
    url('/fonts/VerizonNHGeDS-Bold.woff') format('woff');
}
