// Primary Color are the colors that define our brand
// and are used in all of our experiences. Our primary colors are:
// orange, black and white. Use Fox’s primary color palette
// in the majority of Fox.
$primary-base: #000000; // black
$primary-dark: #000000; // black
$primary-light: #FFFFFF; // white
$primary-orange: #FF6600; // orange

// monochrome colors
// We have multiple grays for all visual design needs and to meet
// accessibility requirements. Gray is used to separate or diminish
// elements in components and layouts. Gray is also used within
// some interactive states.
$monochrome-base: #E8E9E9; // grey 1 xlight
$monochrome-light: #E8E9E9; // grey 2 light
$monochrome-mid: #555555; //  grey 3 mid
$monochrome-dark: #222222; // grey 4 dark

$monochrome-semi-dark: #3C3C3C; // grey 5 semi dark
