@use 'respond';

@mixin screen-reader-only {
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  overflow: hidden;
  position: absolute;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@mixin display-desktop-only {
  display: none;
  @include respond.to-desktop {
    display: block;
  }
}

@mixin display-mobile-only {
  display: none;
  @include respond.to-mobile {
    display: block;
  }
}