---
layout: base.njk
templateClass: tmpl-home
---


  <app-root></app-root>
  <h1> w e aR e on  o UR W A Y!! w dde  Lcodd Mea L L 2 oN e J a r </h1>
  <h2>L et 'SG o!</h2>
  <p>github actions are working, ndow! Yseeah boi!</p>
  <article>
  <img src="images/image.jpg" />
  </article>