/*
// Book
@font-face{
  font-family: 'Gotham-Book';
  src: url('/public/fonts/Gotham-Book.eot?#iefix');
  src: url('/public/fonts/Gotham-Book.eot?#iefix') format('eot'),
    url('/public/fonts/Gotham-Book.woff2') format('woff2'),
    url('/public/fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

// Medium
@font-face{
  font-family: 'Gotham-Medium';
  src: url('/public/fonts/Gotham-Medium.eot?#iefix');
  src: url('/public/fonts/Gotham-Medium.eot?#iefix') format('eot'),
    url('/public/fonts/Gotham-Medium.woff2') format('woff2'),
    url('/public/fonts/Gotham-Medium.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

// Bold
@font-face{
  font-family: 'Gotham-Bold';
  src: url('/public/fonts/Gotham-Bold.eot?#iefix');
  src: url('/public/fonts/Gotham-Bold.eot?#iefix') format('eot'),
    url('/public/fonts/Gotham-Bold.woff2') format('woff2'),
    url('/public/fonts/Gotham-Bold.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

// Bold Italic
@font-face{
  font-family: 'Gotham-BoldItalic';
  src: url('/public/fonts/Gotham-BoldItalic.eot?#iefix');
  src: url('/public/fonts/Gotham-BoldItalic.eot?#iefix') format('eot'),
    url('/public/fonts/Gotham-BoldItalic.woff2') format('woff2'),
    url('/public/fonts/Gotham-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

// Black
@font-face{
  font-family: 'Gotham-Black';
  src: url('/public/fonts/Gotham-Black.eot?#iefix');
  src: url('/public/fonts/Gotham-Black.eot?#iefix') format('eot'),
    url('/public/fonts/Gotham-Black.woff2') format('woff2'),
    url('/public/fonts/Gotham-Black.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
*/
