@use 'sass:math';
@use '../abstracts/colors';
@use '../modules/glassbg';
@use '../abstracts/functions';

$border-radius: functions.toEm(4, 15);

.card-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $border-radius;
  /*background-image:
    linear-gradient(
      200deg,
      rgb(colors.$primary-light 0.35) 0%,
      rgb(colors.$primary-light 0.05) 50%
    );*/

  & + * {
    margin: math.div($border-radius, 2);
    border-radius: $border-radius;
  }
}

.card-background {
  position: absolute;
  margin: math.div($border-radius, 2);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: $border-radius;
  overflow: hidden;
  filter: blur(10px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background: rgb(colors.$primary-dark 0.3);
  }
}

.card-background-darker {
/*
  &::before {
    background-image:
      linear-gradient(
        90deg,
        rgb(colors.$primary-dark 0.45) 0%,
        rgb(colors.$primary-dark 0.05) 50%
      );
  }*/
}
