// `HELPERS base
// -----------------------------------------------

// imports
@use '../abstracts/breakpoints';
@use '../abstracts/respond';
@use '../abstracts/colors';
@use '../abstracts/fonts';

// show / hide

.hide {
  display: none;
}

// section
// push / margin

.push-bottom {
  margin-bottom: 1rem;
}

.push-bottom-large {
  margin-bottom: 5rem;
}

// shift right

.float-right {
  float: right;
}

// whenever an overlay is active freeze the screen and lock scrolling

.overlay-active {
  position: relative;
  overflow: hidden;
  touch-action: none;
}

// pointer events

.nopointerevent {
  pointer-events: none;
}

.disable {
  pointer-events: none;
}
