// `LINK base
// -----------------------------------------------

// imports
@use '../abstracts/breakpoints';
@use '../abstracts/respond';
@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../abstracts/functions';

a {
  background: transparent;
  color: colors.$primary-orange;
  font-family: fonts.$font_bold;
  font-weight: normal;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:hover,
  &:active {
    color: colors.$primary-orange;
    outline: none;
    text-decoration: underline;
  }

  &:active {
    color: colors.$monochrome-dark;
  }

  //ada

  &:focus {
    outline: colors.$monochrome-mid 0.5px solid;
  }
}

// undecorated links
// --------------------------

.link-button {
  display: inline-block;
  position: relative;
  background-color: colors.$primary-orange;
  background-clip: border-box;
  border-radius: functions.toEm(4, 15);
  color: colors.$primary-light;
  font-size: 15px;
  font-family: fonts.$font_bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  vertical-align: middle;

  &:focus,
  &:hover {
    color: colors.$primary-light;
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
}

.link-button svg {
  min-width: 18px;
  min-height: 18px;
}

/* Variants */

/* default */

.link-button-transparent {
  // background-color: rgb(colors.$primary-light 0.25);
  color: inherit;

  &:focus,
  &:hover {
    color: inherit;
    cursor: pointer;
  }
}

.link-button-transparent fox-icon {
  margin-left: -(functions.toEm(8, 15));
}

/* default */

.link-button-secondary {
  min-width: 200px;
  // background-color: rgb(colors.$primary-light 0.1);
  font-family: fonts.$font_medium;
  text-align: left;
  color: inherit;
  text-transform: initial;

  a,
  button {
    padding: 0 1em;
  }

  &:focus,
  &:hover {
    color: inherit;
    cursor: pointer;
  }
}

.link-button-secondary fox-icon {
  position: absolute;
  right: 0.5em;
  margin: 0;
}
